body{
    color:#000000;
    background:#F1F2EC;
    font-size:8pt;
    font-family: Verdana;
}
h1{
    color:#0D10E5;
    font-size: 12pt;
}
h2{
    color:#040677;
    font-size: 10pt;
}
p{
    margin-bottom: 16px;
}
img.right{
    float:right;
}
img.left{
    float:left;
}